* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Sans KR", sans-serif;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #151515ad;
}
body::-webkit-scrollbar-track {
  border-radius: 25px;
  background-color: #ebebeb;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: 500px;
  height: 700px;
  text-align: center;
  border: none;
}
dialog::backdrop {
  background-color: #000000;
  opacity: 0.5;
}
#adiClub > h2 > span {
  font-size: 36px;
  font-weight: 600;
}
#adiClub > h2 {
  margin: 30px 0px;
}
form > input {
  width: 60%;
  padding: 5px 10px;
  border: 1px solid #000000;
  border-radius: 0px;
  margin: 10px;
}
form > input[type="email"]:focus {
  background-color: #007ec231;
  border: 1px solid #007fc2;
  outline: none;
}
form > p:nth-child(2) {
  font-size: 14px;
}
form > p:nth-child(3) {
  font-size: 12px;
  color: #ccc;
  margin: 20px 0px;
}
form > button:nth-child(4) {
  display: inline-block;
  padding: 5px;
  margin: 20px auto;
  width: 60%;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
}
form > button:nth-child(5) {
  display: inline-block;
  padding: 5px;
  margin: 0px auto;
  width: 60%;
  color: #000000;
  background-color: #ffffff;
  border: none;
  text-decoration: underline;
}
form > button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
}
/*헤더 CSS 시작*/
header {
  width: 100vw;
}
.headerTop {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.topBanner {
  position: relative;
  width: 100%;
  height: 32px;
  font-size: 0.875rem;
  padding: 5px 15px;
  background-color: #f0f0f0;
}
.topBanner > .wrap {
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;
}
.topBanner li {
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
}

.topBanner li.prev {
  top: 36px;
  transition: top 0.5s ease;
}
.topBanner li.current {
  top: 0;
  transition: top 0.5s ease;
}
.topBanner li.next {
  top: -36px;
}
.topBanner a {
  display: block;
  display: -webkit-box;
  text-decoration: none;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
}
#headerBottom {
  width: 100vw;
  height: 70px;
  position: relative;
  display: flex;
}
#logoImg {
  flex: 1;
  padding: 0px 30px;
  text-align: center;
  cursor: pointer;
}
#logoImg > a > img {
  height: 100%;
}
nav {
  display: inline-block;
  flex: 3;
}
#mainMenu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainMenu > li {
  padding: 0px 15px;
}
#mainMenu > li:hover {
  border-bottom: 3px solid #000000;
}
#mainMenu > li > a {
  display: inline-block;
  text-align: center;
  padding: 20px 15px;
}
.boldMenu {
  font-weight: 600;
}
#iconMenu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#iconMenu span {
  font-size: 32px;
  cursor: pointer;
}
#iconMenu>span.menu{
  display: none;
}
#iconMenu span:hover {
  color: #007fc2;
  transition: all 0.3s;
}
/*드롭다운 메뉴 CSS*/
.dropdownMenu {
  width: 100vw;
  height: 400px;
  background-color: #ffffffd5;
  display: flex;
  visibility: hidden;
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 0%;
}
#menSubLeft,
#womenSubLeft,
#kidsSubLeft,
#sportsSubLeft,
#brandsSubLeft,
#outletSubLeft {
  height: 100%;
  width: 30%;
  padding-top: 30px;
  padding-left: 40px;
  display: flex;
  flex-flow: column;
}
#menSubLeft > p,
#womenSubLeft > p,
#kidsSubLeft > p,
#sportsSubLeft > p,
#brandsSubLeft > p,
#outletSubLeft > p {
  font-size: 28px;
  margin-left: 20px;
  font-weight: 600;
}
#menSubLeft > li,
#womenSubLeft > li,
#kidsSubLeft > li,
#sportsSubLeft > li,
#brandsSubLeft > li,
#outletSubLeft > li {
  flex: 1;
  border-top: 1px solid black;
  padding-left: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
}
#menSubLeft > li > a,
#womenSubLeft > li > a,
#kidsSubLeft > li > a,
#sportsSubLeft > li > a,
#brandsSubLeft > li > a,
#outletSubLeft > li > a {
  display: block;
  padding: 10px 0px;
  text-align: center;
}
#menSubLeft > li:hover a,
#womenSubLeft > li:hover a,
#kidsSubLeft > li:hover a,
#sportsSubLeft > li:hover a,
#brandsSubLeft > li:hover a,
#outletSubLeft > li:hover a {
  font-weight: 600;
}
.menRightList,
.womenRightList,
.kidsRightList,
.sportsRightList,
.brandsRightList,
.outletRightList {
  width: 70%;
  position: absolute;
  right: 0;
  top: 0;
}
#rightBest {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
#rightNew,
#rightShoe,
#rightCloth,
#rightAcc {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  display: none;
}
#rightBest > li,
#rightNew > li,
#rightShoe > li,
#rightCloth > li,
#rightAcc > li {
  height: 100%;
  text-align: center;
  cursor: pointer;
}
.img2Box {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.img2Box > li {
  display: inline-block;
  cursor: pointer;
}
.rightImgBox {
  width: 70%;
  overflow: hidden;
  text-align: left;
  height: 100%;
  position: relative;
}
.rightImgBox > img {
  width: 100%;
  cursor: pointer;
}
.rightImgBox > img:last-child {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.rightTextBox {
  width: 30%;
  height: 100%;
  padding: 50px 30px;
  background-color: #ffffff;
}
.rightTextBox p:first-child {
  font-weight: 600;
  font-size: 22px;
  margin: 30px 0px;
}
.rightTextBox button {
  width: 70%;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid black;
  background-color: none;
  margin: 30px 0px;
  cursor: pointer;
}
.toggleTextBox {
  background-color: #0000005e;
  color: #ffffff;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: -10%;
  transition: all 0.3s;
  opacity: 0;
}
.toggleTextBox p {
  margin: 5px 0px;
}
.toggleTextBox > ul > li {
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  width: 80px;
  padding: 5px;
  cursor: pointer;
}
.toggleTextBox > ul > li:hover {
  background-color: #00000056;
  border: none;
}
/*드롭다운 기본 CSS 끝*/
/*Men 카테고리 시작*/
.menSubli #rightBest > li,
.menSubli #rightNew > li {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.menSubli > #rightShoe,
.menSubli > #rightCloth,
.menSubli > #rightAcc {
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  gap: 10px;
  padding-left: 50px;
  justify-content: center;
  display: none;
}
.menSubli #rightShoe > li,
.menSubli #rightCloth > li,
.menSubli #rightAcc > li {
  border: none;
  border-left: 1px solid black;
  width: 34%;
  padding: 10px;
  height: 50px;
  text-align: left;
}
.menSubli #rightShoe > li:hover,
.menSubli #rightCloth > li:hover,
.menSubli #rightAcc > li:hover {
  background-color: #ffffff96;
  font-weight: 600;
}
.menSubli .img2Box > li {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menSubli .img2Box > li > img {
  width: 100%;
  height: 100%;
}
.rightImgBox > img {
  height: 100%;
}
/*Women 카테고리 시작*/
.womenSubli #rightBest > li,
.womenSubli #rightNew > li {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.womenSubli > #rightShoe,
.womenSubli > #rightAcc {
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  gap: 10px;
  padding-left: 50px;
  justify-content: center;
  display: none;
}
.womenSubli #rightShoe > li,
.womenSubli #rightAcc > li {
  border: none;
  border-left: 1px solid black;
  width: 34%;
  padding: 10px;
  height: 50px;
  text-align: left;
}
.womenSubli #rightCloth {
  padding-top: 70px;
  padding-left: 70px;
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  gap: 5px;
  align-items: flex-start;
  justify-content: start;
  display: none;
}
.womenSubli #rightCloth > li {
  border: none;
  border-left: 1px solid black;
  width: 34%;
  padding: 10px;
  height: 50px;
  text-align: left;
}
.womenSubli #rightShoe > li:hover,
.womenSubli #rightCloth > li:hover,
.womenSubli #rightAcc > li:hover {
  background-color: #ffffff96;
  font-weight: 600;
}
.womenSubli .img2Box > li {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.womenSubli .img2Box > li > img {
  width: 100%;
}
/*Kids 카테고리 시작*/
.kidsSubli #rightBest > li,
.kidsSubli #rightNew > li {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.kidsSubli > #rightShoe,
.kidsSubli > #rightCloth,
.kidsSubli > #rightAcc {
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  gap: 10px;
  padding-left: 50px;
  justify-content: center;
  display: none;
}
.kidsSubli #rightShoe > li,
.kidsSubli #rightCloth > li,
.kidsSubli #rightAcc > li {
  border: none;
  border-left: 1px solid black;
  width: 34%;
  padding: 10px;
  height: 50px;
  text-align: left;
}
.kidsSubli #rightShoe > li:hover,
.kidsSubli #rightCloth > li:hover,
.kidsSubli #rightAcc > li:hover {
  background-color: #ffffff96;
  font-weight: 600;
}
.kidsSubli .img2Box > li {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kidsSubli .img2Box > li > img {
  width: 100%;
}
/*Sports 카테고리 시작*/
#sportsAll {
  padding-top: 70px;
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  gap: 5px;
  align-items: center;
}
#sportsAll > li {
  border-left: 1px solid black;
  width: 34%;
  padding: 10px;
  height: 50px;
  text-align: left;
}
#sportsAll > li:hover {
  background-color: #ffffff96;
  font-weight: 600;
}
.sportsSubli > #rightNew,
.sportsSubli > #rightShoe,
.sportsSubli > #rightCloth,
.sportsSubli > #rightAcc {
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  gap: 10px;
  padding-left: 50px;
  justify-content: center;
  display: none;
}
.sportsSubli #rightNew > li,
.sportsSubli #rightShoe > li,
.sportsSubli #rightCloth > li,
.sportsSubli #rightAcc > li {
  border: none;
  border-left: 1px solid black;
  width: 34%;
  padding: 10px;
  height: 50px;
  text-align: left;
}
.sportsSubli #rightNew > li:hover,
.sportsSubli #rightShoe > li:hover,
.sportsSubli #rightCloth > li:hover,
.sportsSubli #rightAcc > li:hover {
  background-color: #ebebeb;
  font-weight: 600;
}
.sportsSubli .img2Box > li {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sportsSubli .img2Box > li > img {
  width: 100%;
}
/*Brands 카테고리 시작*/
.brandsSubli #rightBest > li {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.brandsSubli #rightNew > li,
.brandsSubli #rightShoe > li {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandsSubli #rightBest > li > img,
.brandsSubli #rightNew > li > img,
.brandsSubli #rightShoe > li > img {
  height: 100%;
}
.brandsSubli #rightCloth > li {
  width: 32%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.brandsSubli .rightImgBox {
  width: 100%;
  height: 100%;
}
.brandsSubli #rightCloth .rightImgBox > img:first-child {
  visibility: visible;
}
.brandsRightList .toggleTextBox {
  bottom: 0;
  width: 100%;
  opacity: 1;
}
.brandsRightList .toggleTextBox button {
  width: 30%;
  padding: 5px;
  position: absolute;
  top: -42%;
  right: 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff85;
}
.brandsRightList .toggleTextBox button:hover {
  background-color: #00000060;
  border-bottom: 2px solid #000000;
  color: white;
}
.brandsRightList .toggleTextBox > p:first-child {
  font-size: 20px;
}
/*outlet 카테고리 시작*/
.outletSubli > #rightBest > li {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outletSubli > #rightBest > li > img {
  height: 100%;
}
/*Header CSS 끝*/
/*Main CSS 시작*/
main {
  width: 100vw;
  height: auto;
}
#container {
  width: 100vw;
  height: fit-content;
}
#fullPageSlider {
  width: 100vw;
  height: auto;
}
#fullPageSlider img {
  width: 100%;
}
#bestSeller {
  display: flex;
  margin: 100px auto;
  width: 80%;
  height: 80vh;
}
#bestSellerLeft {
  flex: 1;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
#bestSellerLeft > video {
  height: 100%;
}
#bestSellerRight {
  flex: 1;
  width: 49%;
  height: 100%;
  border: 1px solid #ccc;
  border-left: none;
}
#bestText {
  display: inline-block;
  width: 100%;
  height: 49%;
  padding: 30px;
  padding-top: 100px;
  position: relative;
}
#bestText > h1 {
  font-size: 3em;
  margin: 20px 0px;
}
#bestText > span {
  position: absolute;
  right: 10%;
  top: 80%;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600;
  border-bottom: 2px solid black;
}
#bestText > span:hover {
  background-color: #e2e2e2;
}
#bestItems {
  display: flex;
  width: 100%;
  height: 50%;
  text-align: center;
  justify-content: center;
  position: relative;
}
#bestItems span {
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}
#bestItems span:hover {
  background-color: #e2e2e2;
}
#bestItems > span:first-child {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}
#bestItems > span:last-child {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}
#itemsBox {
  width: 600px;
  height: 90%;
  overflow: hidden;
  position: relative;
}
#itemScreen {
  display: flex;
  position: absolute;
  left: 0%;
  bottom: 0;
  width: auto;
  height: 100%;
  transition: 0.3s;
}
.terrexItems {
  cursor: pointer;
  width: 600px;
  height: 100%;
  display: flex;
}
.terrexItems img {
  display: inline-block;
  width: 50%;
  height: auto;
}
#fullPageFootball {
  width: 100%;
}
#fullPageFootball > div:first-child img {
  width: 100%;
}
#fullPageFootball > div:last-child {
  padding: 30px;
  text-align: center;
}
#fullPageFootball > div:last-child p {
  margin: 30px 0px;
}
#fullPageFootball > div:last-child button {
  padding: 10px;
  width: 120px;
  font-size: 16px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 30px;
}
#fullPageFootball > div:last-child button:hover {
  background-color: #e2e2e2;
  color: #000000;
}
/* Footer CSS */
footer {
  width: 100vw;
}
#footerTop {
  height: 350px;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}
.footerTopBox {
  width: 24%;
  height: 100%;
}
.footerTopBox ul {
  margin: 20px 0px;
}
.footerTopBox ul > li {
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
}
.footerTopBox ul > li:hover {
  text-decoration: underline;
}
.footerTopBox:last-child input[type="email"] {
  width: 80%;
  margin: 20px 0px;
}
.footerTopBox:last-child input[type="submit"] {
  width: 19%;
  margin: 20px -4px;
  padding: 5px;
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}
.footerTopBox:last-child input[type="submit"]:hover {
  background-color: #007fc2;
  border: 1px solid #007fc2;
}
.footerTopBox:last-child span {
  text-decoration: underline;
}
#footerBottom {
  background-color: #333333;
  color: #ffffff;
  height: auto;
  padding: 20px;
  text-align: center;
}
#footerBottom p {
  color: #868686;
  text-align: center;
  font-size: 12px;
  margin: 20px 0px;
}
#footerBottom p:last-child {
  font-size: 16px;
  color: #ffffff;
}
.socialAcc {
  display: inline-block;
  text-align: center;
  padding: 50px;
  border-bottom: 1px solid #868686;
}
.socialAcc h2 {
  margin: 10px 0px;
}
.socialAcc i {
  margin: 5px;
}
.socialAcc i:hover {
  color: #007fc2;
}

/*태블릿, 모바일 CSS*/

@media screen and (max-width:1024px){
  #headerBottom {
    height: 60px;
    /* display: flex; */
  }
  #logoImg {
    flex: 1;
    margin: 0px auto;
    padding: 0px 30px;
  }
  nav {
    display: none;
  }
  #iconMenu {
    display: block;
    position: absolute;
    top:50%;
    height: 35px;
    transform: translateY(-50%);
    width: 100vw;
    /* border:1px solid black; */
  }
  #iconMenu>span:not(.person) {
    display: none;
  }
  #iconMenu>span.menu{
    display: block;
    position:absolute;
    left:2%;
    font-size:36px;
  }
  #iconMenu>span.person{
    position:absolute;
    right:2%;
    font-size:36px;
  }
  #bestSeller {
  display: flex;
  flex-flow:column wrap;
  margin: 100px auto;
  width: 80%;
  height: 80vh;
}
  #bestSellerLeft {
    width: 100%;
  }
  #bestSellerRight {
    width:100%;
    border: 1px solid #ccc;
    border-top:none;
  }
  #bestText {
    padding-top: 30px;
    height:200px;
    position: relative;
  }
  #bestText > h1 {
    font-size: 2em;
    margin: 20px 0px;
  }
  #bestText > span {
    position: absolute;
    right: 10%;
    top:110%;
    padding: 5px 10px;
    border-bottom: 2px solid black;
  }
  #bestItems {
    display: none;
  }
  #footerTop {
    display: block;
    height: fit-content;
  }
  .footerTopBox{
    width:100%;
  }
  .footerTopBox>h3:not(.newsLetter) {
    width:100%;
    padding:5px;
    border-bottom:1px solid #ccc;
    padding-left:5px;
    font-size: 1em;
    cursor: pointer;
  }
  .footerTopBox>ul{
    display: none;
  }
  .footerTopBox>ul{
    margin:0px;
    border:1px solid #ccc;
    border-top:none;
  }
  .footerTopBox:last-child{
    width:100%;
    border:1px solid #ccc;
    padding:10px;
  }
  .footerTopBox:last-child input[type="email"] {
    margin: 10px 0px;
    outline: none;
  }
  .footerTopBox:last-child input[type="submit"] {
    margin: 10px -4px;
  }
}
